body{
	
}
#wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
/******** Navigation Bar ***********/
#header {
    margin: 0 auto;
    max-width: 1200px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    border: 1px solid black;
    background-color: #ddd;
}
#menu .navicon {
    display: none;
    font-size: 2em;
    float: right;
}

#menu nav {
    float: right;
}

#menu nav ul {
    padding: 0;
    margin: 0;
}

#menu nav li {
    float: left;
    list-style-type: none;
    border: 1px solid black;
}

#menu nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    color: #ddd;
}

#menu nav li a:hover {
    background-color: #000;
    color: white;
}

#menu nav li:last-child {
    margin-right: 10px;
}
/***** End of Navigation Bar **********/

/******** Section *************/
.section {
    height: 100vh;
    min-height: 800px;
    overflow: hidden;
    padding-top: 60px;
    /*position: relative;*/
    border: 1px solid black;
    background-size: cover;
    background-position: center center;
}

.section h2 {
    font-family: 'Indie Flower', cursive;
    background-color: white;
    padding: 5px;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.section article {
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 20px;
    margin: 0 10px;
}

#profile {
    background-image: url("assets/images/team.jpeg");
    
}

#skills {
    background-image: url(assets/images/laptop.jpg);
    background-color: darkmagenta;
}

#projects {
    background-color: darkblue;
}

#contact {
    background-color: darkgray;
}

#projects ul {
    padding: 10px;
    list-style-type: none;
}

#projects ul li {
    display: inline-block;
    width: 48%;
    min-height: 200px;
}
/******** End of Section **********/