@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	font-family: 'Roboto', sans-serif;
}
.wrapper {
    max-width: 1200px;
    
}
/******** Navigation Bar ***********/

.header {
    margin: 0 auto;
    max-width: 1200px;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
    
}
#menu .navicon {
    display: none;
    font-size: 2em;
    float: right;
}

#menu nav {
    float: right;
}

#menu nav ul {
    padding: 0;
    margin: 0;
}

#menu nav li {
    float: left;
    list-style-type: none;
    border: 1px solid black;
}

#menu nav li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #222;
    color: #ddd;


}

#menu nav li a:hover {
    background-color: #000;
    color: white;
}

#menu nav li:last-child {
    margin-right: 10px;
}
/***** End of Navigation Bar **********/

/******** Section *************/
.section {
    min-height: 100vh;
    
    overflow: hidden;
    /*padding-top: 60px;*/
    /*position: relative;*/
    
    background-size: cover;
    background-position: center center;
}

.section h2 {
    font-family: 'Indie Flower', cursive;
    color: #000;
    padding: 2px;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
}



/********* End of Section ******************/
/************ Section Cover *********************/
#cover {
     background-image: url('assets/images/bg.jpg');
     background-image: cover;
     border-bottom: 1px solid #f63;
}
.responsive-text{
    display: none;
}

.fa-html5, .fa-css3{
     color:#f63;
 }

section .intro-text  {
    margin:20% auto;  
    /*border: 1px solid black;*/
    width:40%;
    

}
section .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color:white;
  font-style: italic;
  text-align: center;
  margin-left: 1px;
}
/********** End of Cover ************/

/************* Section Profile ********/
#profile{
  background-color: #ffffff;
}
.profile-row{
    
    width:80%;
    margin: 120px auto;
    font-size: 16px;
    color: #222222;

}
.profile-row h3{
    text-align: center;
    font-size: 28px;
    color:#f63;
    padding-bottom: 10px;
}

.profile-row img{
    margin-top: -60px;
    /*border:1px solid #222222;*/
    margin-left: 20px;
}
/******** End Section Profile ****************/

/*********** Section Skills *****************/
#skills{
    background-image: url('assets/images/black.jpg');
    padding-top:30px;
}

#skills{
    border-top:1px solid #f63;
    border-bottom: 1px solid #f63;
}
.skills-row{
    padding-top:60px;
    width:70%;
    margin: 0 auto;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: bold;
    line-height: 200%;

}

.skills-list{
    list-style: none;
}

.skills-title{
    display: inline-block;
    width:60%;
}


.filled {
    color: #f63;
}

.grey{
    color:#fcfcfc;
}


/*********** End of Skills *******************/


/************* Section Projects ********************/

.project-row{
  padding:25px 0;
}
.area{
  position: relative;
}

.area:hover .mask {
  display: block;
  cursor: pointer;
  opacity: 100;
  transition: all 0.3s ease-in-out;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-40%);
  
}

.mask {
  position: absolute;
  background-color: rgba(255, 153, 0,0.8);
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
}

.mask p {
  color: #fff;
  font-weight: 600;
}

.mask i {
  font-size: 60px;
  color: #fff;
}

/*************** End of Section Projects ******************/

/******** Section Contact **************/
section#contact {
  /*background: url('assets/images/mapnight.jpeg');*/
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
 
  
  
}
#contact .form{
    margin:20px auto;
}

section#contact .form-group {
  margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
section#contact .form-group input.form-control {
  height: auto;
}
section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color:#222222;
  font-size: 16px;
}

.btn-xl {
  color: white;
  background-color: #f63;
  border-color: #f63;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  font-size: 18px;
  padding: 20px 40px;
}
/********* Social Row *************/
.social-row {
  padding: 25px 0 25px 35px;
  text-align: center;
  margin:50px auto;

  width:50%;
}
 span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:18px;
  color: #eaeaea;
}


ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #fed136;
}
/*********** End of Social Row **********/

/*********** media queries ***********/
@media screen and (max-width:640px) {
    #menu .navicon {
        display: block;
        margin-right: 15px;
    }
    #menu nav {
         display: none;
        width: 100%;
    }
    #menu nav ul li {
        width: 100%;
    }
    #projects ul li {
        width: 100%;
    }
    /****** Cover ******/
    .responsive-text{
        display:block;
        border:4px dotted #eaeaea;
        border-radius: 8px;
        width:50%;
        margin:60% auto;
        font-size: 80px;
        padding-top: 15px;
        padding-left: 10px;

    }
    .intro-text{
        display: none;
    }
    /****** End Cover *********/
    /******** profile ********/
    .profile-row{
        width:100%;
        border:3px solid #f63;
        padding:20px;
    }

    .profile-row img{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .skills-row{
        width: 100%;
        font-size: 19px;
        padding-top: -50px;
    }

    .social-row{
        width: 100%;
    }


    
}

/********* End of media queries **********/

.fixPoint {
    background-attachment: fixed;
}
/*********************************************/
#back-top {
  position: fixed;
  bottom: 0px;
  right: 20px;
}
#back-top a {
  width: 40px;
  display: block;
  color: #bbb;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
/* arrow icon */
#back-top span {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 7px;
  background: #26456e  url(assets/images/up-arrow.png) no-repeat center center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #00bfab;
}